{% assign c = "c-page-image" %}
<div class="container">
  <div class="row">
    <div class="col col-5" style="margin: 0 auto; float: none;">
      <div class="c-page-image animate" style="padding-top: 0 !important; min-height: auto !important; height: auto !important; background: none; max-width: 200px; margin: 0 auto;">
        <img loading="lazy" src="/images/avatar.png" alt="Junhyung's Photo" style="width: 100%; height: auto; display: block; position: relative !important; transform: none !important;">
      </div>
    </div>
  </div>
</div>